body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: Verdana, Geneva, sans-serif;
  color: #000000;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.siteContent {
  display: block;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
.siteHeader .wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1em 0;
}
.siteHeader #nav-toggle {
  cursor: pointer;
  padding: 10px 35px 15px 0;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.siteHeader #nav-toggle span,
.siteHeader #nav-toggle span:before,
.siteHeader #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  left: 0;
}
.siteHeader #nav-toggle span:before {
  top: -10px;
}
.siteHeader #nav-toggle span:after {
  top: 10px;
}
.siteHeader.nav-active #nav-toggle span {
  background-color: transparent;
}
.siteHeader.nav-active #nav-toggle span:before,
.siteHeader.nav-active #nav-toggle span:after {
  top: 0;
}
.siteHeader.nav-active #nav-toggle span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.siteHeader.nav-active #nav-toggle span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.siteHeader #nav-toggle {
  display: none;
}
.siteHeader .menu a {
  display: inline-block;
  padding: 0 1em;
}
@media (max-width: 800px) {
  .siteHeader .wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .siteHeader #nav-toggle {
    display: inline-block;
  }
  .siteHeader .menu {
    width: 100%;
    max-height: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    pointer-events: none;
  }
  .siteHeader .menu a {
    display: block;
    text-align: center;
    padding: 1em 0;
  }
  .siteHeader.nav-active .menu {
    max-height: 10em;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slider:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  z-index: 4;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
  -moz-animation: three-quarters-loader 1250ms infinite linear;
  -o-animation: three-quarters-loader 1250ms infinite linear;
  animation: three-quarters-loader 1250ms infinite linear;
  border: .5em solid;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: 2em;
  height: 2em;
  pointer-events: none;
}
.slider .slides {
  width: 100%;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.slider .slides .slide {
  white-space: normal;
  font-size: 12pt;
  position: relative;
  width: 100vw;
  height: 100%;
  display: inline-block;
  pointer-events: none;
  vertical-align: middle;
  z-index: 1;
  background: center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slider .slides .slide .src {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
.slider .slides .slide.active {
  pointer-events: auto;
  z-index: 2;
}
.slider.fading .slides .slide {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
.slider.fading .slides .slide.active {
  opacity: 1;
}
.slider.fading .slides .slide:nth-child(1) {
  left: 0%;
}
.slider.fading .slides .slide:nth-child(2) {
  left: -100%;
}
.slider.fading .slides .slide:nth-child(3) {
  left: -200%;
}
.slider.fading .slides .slide:nth-child(4) {
  left: -300%;
}
.slider.fading .slides .slide:nth-child(5) {
  left: -400%;
}
.slider.fading .slides .slide:nth-child(6) {
  left: -500%;
}
.slider.fading .slides .slide:nth-child(7) {
  left: -600%;
}
.slider.fading .slides .slide:nth-child(8) {
  left: -700%;
}
.slider.fading .slides .slide:nth-child(9) {
  left: -800%;
}
.slider.fading .slides .slide:nth-child(10) {
  left: -900%;
}
.slider.fading .slides .slide:nth-child(11) {
  left: -1000%;
}
.slider.fading .slides .slide:nth-child(12) {
  left: -1100%;
}
.slider.fading .slides .slide:nth-child(13) {
  left: -1200%;
}
.slider.fading .slides .slide:nth-child(14) {
  left: -1300%;
}
.slider.fading .slides .slide:nth-child(15) {
  left: -1400%;
}
.slider.fading .slides .slide:nth-child(16) {
  left: -1500%;
}
.slider.fading .slides .slide:nth-child(17) {
  left: -1600%;
}
.slider.fading .slides .slide:nth-child(18) {
  left: -1700%;
}
.slider.fading .slides .slide:nth-child(19) {
  left: -1800%;
}
.slider.fading .slides .slide:nth-child(20) {
  left: -1900%;
}
.slider.fading .slides .slide:nth-child(21) {
  left: -2000%;
}
.slider.fading .slides .slide:nth-child(22) {
  left: -2100%;
}
.slider.fading .slides .slide:nth-child(23) {
  left: -2200%;
}
.slider.fading .slides .slide:nth-child(24) {
  left: -2300%;
}
.slider.fading .slides .slide:nth-child(25) {
  left: -2400%;
}
.slider.fading .slides .slide:nth-child(26) {
  left: -2500%;
}
.slider.fading .slides .slide:nth-child(27) {
  left: -2600%;
}
.slider.fading .slides .slide:nth-child(28) {
  left: -2700%;
}
.slider.fading .slides .slide:nth-child(29) {
  left: -2800%;
}
.slider.fading .slides .slide:nth-child(30) {
  left: -2900%;
}
.slider.fading .slides .slide:nth-child(31) {
  left: -3000%;
}
.slider.fading .slides .slide:nth-child(32) {
  left: -3100%;
}
.slider.fading .slides .slide:nth-child(33) {
  left: -3200%;
}
.slider.fading .slides .slide:nth-child(34) {
  left: -3300%;
}
.slider.fading .slides .slide:nth-child(35) {
  left: -3400%;
}
.slider.fading .slides .slide:nth-child(36) {
  left: -3500%;
}
.slider.fading .slides .slide:nth-child(37) {
  left: -3600%;
}
.slider.fading .slides .slide:nth-child(38) {
  left: -3700%;
}
.slider.fading .slides .slide:nth-child(39) {
  left: -3800%;
}
.slider.fading .slides .slide:nth-child(40) {
  left: -3900%;
}
.slider.sliding .slides {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.slider.sliding .slides .slide {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: -webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s;
}
.slider.sliding.slide-1-active .slides .slide {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.slider.sliding.slide-2-active .slides .slide {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slider.sliding.slide-3-active .slides .slide {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slider.sliding.slide-4-active .slides .slide {
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -o-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  transform: translateX(-300%);
}
.slider.sliding.slide-5-active .slides .slide {
  -webkit-transform: translateX(-400%);
  -moz-transform: translateX(-400%);
  -o-transform: translateX(-400%);
  -ms-transform: translateX(-400%);
  transform: translateX(-400%);
}
.slider.sliding.slide-6-active .slides .slide {
  -webkit-transform: translateX(-500%);
  -moz-transform: translateX(-500%);
  -o-transform: translateX(-500%);
  -ms-transform: translateX(-500%);
  transform: translateX(-500%);
}
.slider.sliding.slide-7-active .slides .slide {
  -webkit-transform: translateX(-600%);
  -moz-transform: translateX(-600%);
  -o-transform: translateX(-600%);
  -ms-transform: translateX(-600%);
  transform: translateX(-600%);
}
.slider.sliding.slide-8-active .slides .slide {
  -webkit-transform: translateX(-700%);
  -moz-transform: translateX(-700%);
  -o-transform: translateX(-700%);
  -ms-transform: translateX(-700%);
  transform: translateX(-700%);
}
.slider.sliding.slide-9-active .slides .slide {
  -webkit-transform: translateX(-800%);
  -moz-transform: translateX(-800%);
  -o-transform: translateX(-800%);
  -ms-transform: translateX(-800%);
  transform: translateX(-800%);
}
.slider.sliding.slide-10-active .slides .slide {
  -webkit-transform: translateX(-900%);
  -moz-transform: translateX(-900%);
  -o-transform: translateX(-900%);
  -ms-transform: translateX(-900%);
  transform: translateX(-900%);
}
.slider.sliding.slide-11-active .slides .slide {
  -webkit-transform: translateX(-1000%);
  -moz-transform: translateX(-1000%);
  -o-transform: translateX(-1000%);
  -ms-transform: translateX(-1000%);
  transform: translateX(-1000%);
}
.slider.sliding.slide-12-active .slides .slide {
  -webkit-transform: translateX(-1100%);
  -moz-transform: translateX(-1100%);
  -o-transform: translateX(-1100%);
  -ms-transform: translateX(-1100%);
  transform: translateX(-1100%);
}
.slider.sliding.slide-13-active .slides .slide {
  -webkit-transform: translateX(-1200%);
  -moz-transform: translateX(-1200%);
  -o-transform: translateX(-1200%);
  -ms-transform: translateX(-1200%);
  transform: translateX(-1200%);
}
.slider.sliding.slide-14-active .slides .slide {
  -webkit-transform: translateX(-1300%);
  -moz-transform: translateX(-1300%);
  -o-transform: translateX(-1300%);
  -ms-transform: translateX(-1300%);
  transform: translateX(-1300%);
}
.slider.sliding.slide-15-active .slides .slide {
  -webkit-transform: translateX(-1400%);
  -moz-transform: translateX(-1400%);
  -o-transform: translateX(-1400%);
  -ms-transform: translateX(-1400%);
  transform: translateX(-1400%);
}
.slider.sliding.slide-16-active .slides .slide {
  -webkit-transform: translateX(-1500%);
  -moz-transform: translateX(-1500%);
  -o-transform: translateX(-1500%);
  -ms-transform: translateX(-1500%);
  transform: translateX(-1500%);
}
.slider.sliding.slide-17-active .slides .slide {
  -webkit-transform: translateX(-1600%);
  -moz-transform: translateX(-1600%);
  -o-transform: translateX(-1600%);
  -ms-transform: translateX(-1600%);
  transform: translateX(-1600%);
}
.slider.sliding.slide-18-active .slides .slide {
  -webkit-transform: translateX(-1700%);
  -moz-transform: translateX(-1700%);
  -o-transform: translateX(-1700%);
  -ms-transform: translateX(-1700%);
  transform: translateX(-1700%);
}
.slider.sliding.slide-19-active .slides .slide {
  -webkit-transform: translateX(-1800%);
  -moz-transform: translateX(-1800%);
  -o-transform: translateX(-1800%);
  -ms-transform: translateX(-1800%);
  transform: translateX(-1800%);
}
.slider.sliding.slide-20-active .slides .slide {
  -webkit-transform: translateX(-1900%);
  -moz-transform: translateX(-1900%);
  -o-transform: translateX(-1900%);
  -ms-transform: translateX(-1900%);
  transform: translateX(-1900%);
}
.slider.sliding.slide-21-active .slides .slide {
  -webkit-transform: translateX(-2000%);
  -moz-transform: translateX(-2000%);
  -o-transform: translateX(-2000%);
  -ms-transform: translateX(-2000%);
  transform: translateX(-2000%);
}
.slider.sliding.slide-22-active .slides .slide {
  -webkit-transform: translateX(-2100%);
  -moz-transform: translateX(-2100%);
  -o-transform: translateX(-2100%);
  -ms-transform: translateX(-2100%);
  transform: translateX(-2100%);
}
.slider.sliding.slide-23-active .slides .slide {
  -webkit-transform: translateX(-2200%);
  -moz-transform: translateX(-2200%);
  -o-transform: translateX(-2200%);
  -ms-transform: translateX(-2200%);
  transform: translateX(-2200%);
}
.slider.sliding.slide-24-active .slides .slide {
  -webkit-transform: translateX(-2300%);
  -moz-transform: translateX(-2300%);
  -o-transform: translateX(-2300%);
  -ms-transform: translateX(-2300%);
  transform: translateX(-2300%);
}
.slider.sliding.slide-25-active .slides .slide {
  -webkit-transform: translateX(-2400%);
  -moz-transform: translateX(-2400%);
  -o-transform: translateX(-2400%);
  -ms-transform: translateX(-2400%);
  transform: translateX(-2400%);
}
.slider.sliding.slide-26-active .slides .slide {
  -webkit-transform: translateX(-2500%);
  -moz-transform: translateX(-2500%);
  -o-transform: translateX(-2500%);
  -ms-transform: translateX(-2500%);
  transform: translateX(-2500%);
}
.slider.sliding.slide-27-active .slides .slide {
  -webkit-transform: translateX(-2600%);
  -moz-transform: translateX(-2600%);
  -o-transform: translateX(-2600%);
  -ms-transform: translateX(-2600%);
  transform: translateX(-2600%);
}
.slider.sliding.slide-28-active .slides .slide {
  -webkit-transform: translateX(-2700%);
  -moz-transform: translateX(-2700%);
  -o-transform: translateX(-2700%);
  -ms-transform: translateX(-2700%);
  transform: translateX(-2700%);
}
.slider.sliding.slide-29-active .slides .slide {
  -webkit-transform: translateX(-2800%);
  -moz-transform: translateX(-2800%);
  -o-transform: translateX(-2800%);
  -ms-transform: translateX(-2800%);
  transform: translateX(-2800%);
}
.slider.sliding.slide-30-active .slides .slide {
  -webkit-transform: translateX(-2900%);
  -moz-transform: translateX(-2900%);
  -o-transform: translateX(-2900%);
  -ms-transform: translateX(-2900%);
  transform: translateX(-2900%);
}
.slider.sliding.slide-31-active .slides .slide {
  -webkit-transform: translateX(-3000%);
  -moz-transform: translateX(-3000%);
  -o-transform: translateX(-3000%);
  -ms-transform: translateX(-3000%);
  transform: translateX(-3000%);
}
.slider.sliding.slide-32-active .slides .slide {
  -webkit-transform: translateX(-3100%);
  -moz-transform: translateX(-3100%);
  -o-transform: translateX(-3100%);
  -ms-transform: translateX(-3100%);
  transform: translateX(-3100%);
}
.slider.sliding.slide-33-active .slides .slide {
  -webkit-transform: translateX(-3200%);
  -moz-transform: translateX(-3200%);
  -o-transform: translateX(-3200%);
  -ms-transform: translateX(-3200%);
  transform: translateX(-3200%);
}
.slider.sliding.slide-34-active .slides .slide {
  -webkit-transform: translateX(-3300%);
  -moz-transform: translateX(-3300%);
  -o-transform: translateX(-3300%);
  -ms-transform: translateX(-3300%);
  transform: translateX(-3300%);
}
.slider.sliding.slide-35-active .slides .slide {
  -webkit-transform: translateX(-3400%);
  -moz-transform: translateX(-3400%);
  -o-transform: translateX(-3400%);
  -ms-transform: translateX(-3400%);
  transform: translateX(-3400%);
}
.slider.sliding.slide-36-active .slides .slide {
  -webkit-transform: translateX(-3500%);
  -moz-transform: translateX(-3500%);
  -o-transform: translateX(-3500%);
  -ms-transform: translateX(-3500%);
  transform: translateX(-3500%);
}
.slider.sliding.slide-37-active .slides .slide {
  -webkit-transform: translateX(-3600%);
  -moz-transform: translateX(-3600%);
  -o-transform: translateX(-3600%);
  -ms-transform: translateX(-3600%);
  transform: translateX(-3600%);
}
.slider.sliding.slide-38-active .slides .slide {
  -webkit-transform: translateX(-3700%);
  -moz-transform: translateX(-3700%);
  -o-transform: translateX(-3700%);
  -ms-transform: translateX(-3700%);
  transform: translateX(-3700%);
}
.slider.sliding.slide-39-active .slides .slide {
  -webkit-transform: translateX(-3800%);
  -moz-transform: translateX(-3800%);
  -o-transform: translateX(-3800%);
  -ms-transform: translateX(-3800%);
  transform: translateX(-3800%);
}
.slider.sliding.slide-40-active .slides .slide {
  -webkit-transform: translateX(-3900%);
  -moz-transform: translateX(-3900%);
  -o-transform: translateX(-3900%);
  -ms-transform: translateX(-3900%);
  transform: translateX(-3900%);
}
.slider .prev,
.slider .next,
.slider .dot {
  z-index: 3;
}
.slider .prev *,
.slider .next *,
.slider .dot * {
  pointer-events: none;
}
.slider.ready:before {
  opacity: 0;
}
.slider.ready .slides {
  opacity: 1;
}
