body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.siteContent {
  display: block;
}
.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1180px;
}
@media (max-width: 1180px) {
  .wrapper {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.siteHeader .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}
.siteHeader #nav-toggle {
  cursor: pointer;
  padding: 10px 35px 15px 0;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.siteHeader #nav-toggle span,
.siteHeader #nav-toggle span:before,
.siteHeader #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
  left: 0;
}
.siteHeader #nav-toggle span:before {
  top: -10px;
}
.siteHeader #nav-toggle span:after {
  top: 10px;
}
.siteHeader.nav-active #nav-toggle span {
  background-color: transparent;
}
.siteHeader.nav-active #nav-toggle span:before,
.siteHeader.nav-active #nav-toggle span:after {
  top: 0;
}
.siteHeader.nav-active #nav-toggle span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.siteHeader.nav-active #nav-toggle span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.siteHeader #nav-toggle {
  display: none;
}
.siteHeader .menu a {
  display: inline-block;
  padding: 0 1em;
}
@media (max-width: 800px) {
  .siteHeader .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .siteHeader #nav-toggle {
    display: inline-block;
  }
  .siteHeader .menu {
    width: 100%;
    max-height: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    transition: all .5s;
    overflow: hidden;
    pointer-events: none;
  }
  .siteHeader .menu a {
    display: block;
    text-align: center;
    padding: 1em 0;
  }
  .siteHeader.nav-active .menu {
    max-height: 10em;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slider:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  z-index: 4;
  transition: opacity .3s;
  -webkit-animation: three-quarters-loader 1250ms infinite linear;
          animation: three-quarters-loader 1250ms infinite linear;
  border: .5em solid;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: 2em;
  height: 2em;
  pointer-events: none;
}
.slider .slides {
  width: 100%;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .slides .slide {
  white-space: normal;
  font-size: 12pt;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  pointer-events: none;
  vertical-align: middle;
  z-index: 1;
  background: center top no-repeat;
  background-size: cover;
}
.slider .slides .slide .src {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
.slider .slides .slide.active {
  pointer-events: auto;
  z-index: 2;
}
.slider.fading .slides .slide {
  transition: opacity 0.5s;
  opacity: 0;
}
.slider.fading .slides .slide.active {
  opacity: 1;
}
.slider.fading .slides .slide:nth-child(1) {
  left: 0;
}
.slider.fading .slides .slide:nth-child(2) {
  left: -100%;
}
.slider.fading .slides .slide:nth-child(3) {
  left: -200%;
}
.slider.fading .slides .slide:nth-child(4) {
  left: -300%;
}
.slider.fading .slides .slide:nth-child(5) {
  left: -400%;
}
.slider.fading .slides .slide:nth-child(6) {
  left: -500%;
}
.slider.fading .slides .slide:nth-child(7) {
  left: -600%;
}
.slider.fading .slides .slide:nth-child(8) {
  left: -700%;
}
.slider.fading .slides .slide:nth-child(9) {
  left: -800%;
}
.slider.fading .slides .slide:nth-child(10) {
  left: -900%;
}
.slider.fading .slides .slide:nth-child(11) {
  left: -1000%;
}
.slider.fading .slides .slide:nth-child(12) {
  left: -1100%;
}
.slider.fading .slides .slide:nth-child(13) {
  left: -1200%;
}
.slider.fading .slides .slide:nth-child(14) {
  left: -1300%;
}
.slider.fading .slides .slide:nth-child(15) {
  left: -1400%;
}
.slider.fading .slides .slide:nth-child(16) {
  left: -1500%;
}
.slider.fading .slides .slide:nth-child(17) {
  left: -1600%;
}
.slider.fading .slides .slide:nth-child(18) {
  left: -1700%;
}
.slider.fading .slides .slide:nth-child(19) {
  left: -1800%;
}
.slider.fading .slides .slide:nth-child(20) {
  left: -1900%;
}
.slider.fading .slides .slide:nth-child(21) {
  left: -2000%;
}
.slider.fading .slides .slide:nth-child(22) {
  left: -2100%;
}
.slider.fading .slides .slide:nth-child(23) {
  left: -2200%;
}
.slider.fading .slides .slide:nth-child(24) {
  left: -2300%;
}
.slider.fading .slides .slide:nth-child(25) {
  left: -2400%;
}
.slider.fading .slides .slide:nth-child(26) {
  left: -2500%;
}
.slider.fading .slides .slide:nth-child(27) {
  left: -2600%;
}
.slider.fading .slides .slide:nth-child(28) {
  left: -2700%;
}
.slider.fading .slides .slide:nth-child(29) {
  left: -2800%;
}
.slider.fading .slides .slide:nth-child(30) {
  left: -2900%;
}
.slider.fading .slides .slide:nth-child(31) {
  left: -3000%;
}
.slider.fading .slides .slide:nth-child(32) {
  left: -3100%;
}
.slider.fading .slides .slide:nth-child(33) {
  left: -3200%;
}
.slider.fading .slides .slide:nth-child(34) {
  left: -3300%;
}
.slider.fading .slides .slide:nth-child(35) {
  left: -3400%;
}
.slider.fading .slides .slide:nth-child(36) {
  left: -3500%;
}
.slider.fading .slides .slide:nth-child(37) {
  left: -3600%;
}
.slider.fading .slides .slide:nth-child(38) {
  left: -3700%;
}
.slider.fading .slides .slide:nth-child(39) {
  left: -3800%;
}
.slider.fading .slides .slide:nth-child(40) {
  left: -3900%;
}
.slider.sliding .slides {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.slider.sliding .slides .slide {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.slider.sliding.slide-1-active .slides .slide {
  -webkit-transform: translate(0%, 0);
          transform: translate(0%, 0);
}
.slider.sliding.slide-2-active .slides .slide {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.slider.sliding.slide-3-active .slides .slide {
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0);
}
.slider.sliding.slide-4-active .slides .slide {
  -webkit-transform: translate(-300%, 0);
          transform: translate(-300%, 0);
}
.slider.sliding.slide-5-active .slides .slide {
  -webkit-transform: translate(-400%, 0);
          transform: translate(-400%, 0);
}
.slider.sliding.slide-6-active .slides .slide {
  -webkit-transform: translate(-500%, 0);
          transform: translate(-500%, 0);
}
.slider.sliding.slide-7-active .slides .slide {
  -webkit-transform: translate(-600%, 0);
          transform: translate(-600%, 0);
}
.slider.sliding.slide-8-active .slides .slide {
  -webkit-transform: translate(-700%, 0);
          transform: translate(-700%, 0);
}
.slider.sliding.slide-9-active .slides .slide {
  -webkit-transform: translate(-800%, 0);
          transform: translate(-800%, 0);
}
.slider.sliding.slide-10-active .slides .slide {
  -webkit-transform: translate(-900%, 0);
          transform: translate(-900%, 0);
}
.slider.sliding.slide-11-active .slides .slide {
  -webkit-transform: translate(-1000%, 0);
          transform: translate(-1000%, 0);
}
.slider.sliding.slide-12-active .slides .slide {
  -webkit-transform: translate(-1100%, 0);
          transform: translate(-1100%, 0);
}
.slider.sliding.slide-13-active .slides .slide {
  -webkit-transform: translate(-1200%, 0);
          transform: translate(-1200%, 0);
}
.slider.sliding.slide-14-active .slides .slide {
  -webkit-transform: translate(-1300%, 0);
          transform: translate(-1300%, 0);
}
.slider.sliding.slide-15-active .slides .slide {
  -webkit-transform: translate(-1400%, 0);
          transform: translate(-1400%, 0);
}
.slider.sliding.slide-16-active .slides .slide {
  -webkit-transform: translate(-1500%, 0);
          transform: translate(-1500%, 0);
}
.slider.sliding.slide-17-active .slides .slide {
  -webkit-transform: translate(-1600%, 0);
          transform: translate(-1600%, 0);
}
.slider.sliding.slide-18-active .slides .slide {
  -webkit-transform: translate(-1700%, 0);
          transform: translate(-1700%, 0);
}
.slider.sliding.slide-19-active .slides .slide {
  -webkit-transform: translate(-1800%, 0);
          transform: translate(-1800%, 0);
}
.slider.sliding.slide-20-active .slides .slide {
  -webkit-transform: translate(-1900%, 0);
          transform: translate(-1900%, 0);
}
.slider.sliding.slide-21-active .slides .slide {
  -webkit-transform: translate(-2000%, 0);
          transform: translate(-2000%, 0);
}
.slider.sliding.slide-22-active .slides .slide {
  -webkit-transform: translate(-2100%, 0);
          transform: translate(-2100%, 0);
}
.slider.sliding.slide-23-active .slides .slide {
  -webkit-transform: translate(-2200%, 0);
          transform: translate(-2200%, 0);
}
.slider.sliding.slide-24-active .slides .slide {
  -webkit-transform: translate(-2300%, 0);
          transform: translate(-2300%, 0);
}
.slider.sliding.slide-25-active .slides .slide {
  -webkit-transform: translate(-2400%, 0);
          transform: translate(-2400%, 0);
}
.slider.sliding.slide-26-active .slides .slide {
  -webkit-transform: translate(-2500%, 0);
          transform: translate(-2500%, 0);
}
.slider.sliding.slide-27-active .slides .slide {
  -webkit-transform: translate(-2600%, 0);
          transform: translate(-2600%, 0);
}
.slider.sliding.slide-28-active .slides .slide {
  -webkit-transform: translate(-2700%, 0);
          transform: translate(-2700%, 0);
}
.slider.sliding.slide-29-active .slides .slide {
  -webkit-transform: translate(-2800%, 0);
          transform: translate(-2800%, 0);
}
.slider.sliding.slide-30-active .slides .slide {
  -webkit-transform: translate(-2900%, 0);
          transform: translate(-2900%, 0);
}
.slider.sliding.slide-31-active .slides .slide {
  -webkit-transform: translate(-3000%, 0);
          transform: translate(-3000%, 0);
}
.slider.sliding.slide-32-active .slides .slide {
  -webkit-transform: translate(-3100%, 0);
          transform: translate(-3100%, 0);
}
.slider.sliding.slide-33-active .slides .slide {
  -webkit-transform: translate(-3200%, 0);
          transform: translate(-3200%, 0);
}
.slider.sliding.slide-34-active .slides .slide {
  -webkit-transform: translate(-3300%, 0);
          transform: translate(-3300%, 0);
}
.slider.sliding.slide-35-active .slides .slide {
  -webkit-transform: translate(-3400%, 0);
          transform: translate(-3400%, 0);
}
.slider.sliding.slide-36-active .slides .slide {
  -webkit-transform: translate(-3500%, 0);
          transform: translate(-3500%, 0);
}
.slider.sliding.slide-37-active .slides .slide {
  -webkit-transform: translate(-3600%, 0);
          transform: translate(-3600%, 0);
}
.slider.sliding.slide-38-active .slides .slide {
  -webkit-transform: translate(-3700%, 0);
          transform: translate(-3700%, 0);
}
.slider.sliding.slide-39-active .slides .slide {
  -webkit-transform: translate(-3800%, 0);
          transform: translate(-3800%, 0);
}
.slider.sliding.slide-40-active .slides .slide {
  -webkit-transform: translate(-3900%, 0);
          transform: translate(-3900%, 0);
}
.slider .prev,
.slider .next,
.slider .dot {
  cursor: pointer;
}
.slider .prev *,
.slider .next *,
.slider .dot * {
  pointer-events: none;
}
.slider .prev,
.slider .next,
.slider .dots {
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 2em;
}
.slider .prev {
  margin-left: -590px;
}
.slider .next {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  margin-left: 590px;
}
.slider .dots {
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.slider .dots .dot {
  border: 2px solid;
  border-radius: 100%;
  background-color: transparent;
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin: 0 .4em;
  transition: background-color 0.5s;
}
.slider .dots .dot.active {
  background-color: currentColor;
}
.slider.ready:before {
  opacity: 0;
}
.slider.ready .prev,
.slider.ready .next,
.slider.ready .dots {
  opacity: 1;
}
.slider.ready .slides {
  opacity: 1;
}
.siteFooter {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
