extends ./includes/layout

block title
    title CSS Stub - index

block body
    include includes/site-header
    include includes/site-banner
    include includes/site-content
    include includes/site-footer

block scripts
    script.
        new Slider('.slider.fade');
        console.log("index.jade::13 - just a reminder");
