extends ./includes/layout

block title
    title CSS Stub - index

block body
    header.siteHeader
        a.logo(href="index.html") LOGO
    main(role="main").siteContent
        p If you sit or shine with a soft beauty, living avoids you.
    footer.siteFooter
        div.createdBy Projekt i wykonanie:
            a(href="//prosatis.pl/") Prosatis.pl

block scripts
    script.
        console.log("!");
