doctype html
html(lang="pl")
    head
        block head
            meta(charset="utf8")
            block title
                title CSS Stub
            link(rel="stylesheet", href="css/style.css", media="all")
    body
        block body
            header.siteHeader
            main(role="main").siteContent
            footer.siteFooter
                    div.createdBy Projekt i wykonanie:
                        a(href="//prosatis.pl/") Prosatis.pl
        block scripts
        //script(src="js/main.js")
