div.slider.fading.a
    div.slides
        div.slide
            img.src(src="//lorempixel.com/500/300/abstract/1/")
            div.content: div.wrapper
                h1 Slide 1
        div.slide
            img.src(src="//lorempixel.com/500/300/abstract/2/")
            div.content: div.wrapper
                h1 Slide 2 with some content
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
div.slider.sliding.b(data-delay="2000")
    div.slides
        div.slide
            img.src(src="//lorempixel.com/500/300/abstract/1/")
            div.content: div.wrapper
                h1 Slide 1
        div.slide
            img.src(src="//lorempixel.com/500/300/abstract/2/")
            div.content: div.wrapper
                h1 Slide 2 with some content
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
                p Sunt guttuses amor nobilis, dexter decores. Est nobilis solitudo, cesaris. Ventus de ferox indictio, pugna animalis!
div.slider.sliding.c
    div.slides
        div.slide: div.content: div.wrapper
            img(src="//lorempixel.com/200/200/abstract/3/")
            img(src="//lorempixel.com/200/200/abstract/4/")
            img(src="//lorempixel.com/200/200/abstract/5/")
            img(src="//lorempixel.com/200/200/abstract/6/")
        div.slide: div.content: div.wrapper
            img(src="//lorempixel.com/200/200/abstract/7/")
            img(src="//lorempixel.com/200/200/abstract/8/")
            img(src="//lorempixel.com/200/200/abstract/9/")
            img(src="//lorempixel.com/200/200/abstract/10/")

script.
    document.addEventListener('DOMContentLoaded', function () {
        new Slider('.slider.a');
        new Slider('.slider.b');
        new Slider('.slider.c');
    });
