header.siteHeader: div.wrapper
    a.logo(href="index.html") LOGO
    a.menuSwitch#nav-toggle: span
    nav.menu
        a(href="?link1") Link 1
        a(href="?link2") Link 2
        a(href="?link3") Link 3
